.card {
    text-decoration: none;
    color: white;
    display: block;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #0A0F1C;
    background-image:
        linear-gradient(rgba(56,189,248,0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(56,189,248,0.05) 1px, transparent 1px);
    background-size: 60px 60px;
    color: white;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.hero::after {
    content: "Lat: -6.2000 | Long: 106.8166";
    display: block;
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.4;
    letter-spacing: 2px;
}